<!DOCTYPE html>
  <html>
  <head>
  <title>Signup</title>
  <link rel="stylesheet" type="text/css" href="CSSFORSIGNUP.css">
  <link rel="stylesheet" href="../static/css/signup.css">
<link rel="stylesheet" href="../static/css/header.css">
  </head>

	<body>
		<header>
            <div class="logo">
            <a href="home">LOGO</a>
            </div>
            <div>
                <nav class="navbar">
                    <a href="home">Home</a>
                    <a href="contact">Contact us</a>
                    <a href="about">About</a>
                    <a href="signin">Signin</a>
                    <a href="#">Signup</a>
                </nav>
        </header>
	<!-- Main div code -->
	<div id="main">
	<div class="h-tag">
	<h2>Create Your Account</h2>
	</div>
	<!-- create account div -->
	<div class="login">
	<table cellspacing="2" align="center" cellpadding="8" border="0">
	<tr>
	<td align="right">Enter Name :</td>
	<td><input type="text" placeholder="Enter user here" class="tb" /></td>
	</tr>
	<tr>
	<td align="right">Enter Email ID :</td>
	<td><input type="text" placeholder="Enter Email ID here" class="tb" /></td>
	</tr>
	<tr>
	<td align="right">Enter Username :</td>
	<td><input type="text" placeholder="Enter Username here" class="tb" /></td>
	</tr>
	<tr>
	<td align="right">Enter Password :</td>
	<td><input type="password" placeholder="Enter Password here" class="tb" /></td>
	</tr>
	<tr>
	<td align="right">Enter Confirm Password :</td>
	<td><input type="password" placeholder="Enter Password here" class="tb" /></td>
	</tr>
	<tr>
	<td></td>
	<td>
	<input type="reset" value="Clear Form" id="res" class="btn" />
	<input type="submit" value="Create Account" class="btn" /></td>
	</tr>
	</table>
	</div>
	<!-- create account box ending here.. -->
	</div>
	<!-- Main div ending here... -->
	</body>
	</html>